.app{
    margin-top: 40px;
    background-image: url("https://e0.pxfuel.com/wallpapers/215/204/desktop-wallpaper-plain-light-color-background.jpg");
}
.tab {
    margin-right: 100px;
    font-size: 200px;
   
}
.img{
    height: 350px;
    margin-top: 30px;
    margin-right: 50px;
}
