.carder{
    display: flex;
    justify-content: space-around;

}

.section1{
    display: flex;
    justify-content: space-between;

}
.section1 div img{
    height: 20rem;
    width: 30rem;
    margin-top: 5rem;

}
.section1 {
    width: 65rem;
    height: 27rem;
   border-radius: 2rem;
  
}
.section2 {
    width: 40rem;
    border-radius: 2rem;
    height: 27rem;
}
.section21 {
    width: 40rem;
    border-radius: 2rem;
    height: 27rem;
}

h2{
    font-size: 5rem;
    margin-left: 2rem;
}
.section1 div button {
    height: 4rem;
    width: 15rem;
    border: 0.1rem solid #3fc0f0;
    border-radius: 1.5rem;
    margin: 1rem;
    font-size: 1.5rem;
    color:#3fc0f0 ;
}
.section2 div button {
    height: 4rem;
    width: 15rem;
    border: 0.1rem solid white;
    border-radius: 1.5rem;
    margin: 1rem;
    font-size: 1.5rem;

}
.section2{
    background-color: F9F9F9;
    color: white;
}

.section1 {
    background-color: F9F9F9;
}
.section1 div div{
    margin-top: 2rem;
}
.section2 div div{
    margin-top: 2rem;
}
.carder{
    margin-top: 10rem;
}
.imgge{
    margin-top: 1rem;
    height: 25rem;
    width: 60rem;
    border-radius: 1.5rem;
}
.section21 div button {
    height: 4rem;
    width: 15rem;
    border: 0.1rem solid #3fc0f0;
    border-radius: 1.5rem;
    margin: 1rem;
    font-size: 1.5rem;
    color:#3fc0f0 ;

}

